.project-list {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px 5px #999999; 
    box-shadow: 5px 5px 15px 5px #999999;
}

.project-list-opened {
    border-left: 5px solid blueviolet;

}

.project-list:hover {
    border-left: 5px solid blueviolet;
    cursor: pointer;
    transition-duration: 1s;
}

.title-and-collapse-optn {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.tool-used-in-proj {
    margin-top: 20px;
    margin: 5px;

}

.tool-used-in-proj p:hover {
    background-color: rgb(5, 128, 60);
    transition: 1s;
}

.tool-used-in-proj p {
    background-color: rgb(73, 158, 130);
    color: white;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.live-demo-button {
    background-color: rgb(33, 118, 151);
    border-radius: 90px;    
    width: fit-content;
    margin: 5px;
    padding: 5px;
}

.live-demo-button:hover {
    background-color: rgb(64, 195, 247);
    transition-duration: 1s;
}

.live-demo-button a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.description {
    margin: 5px;
}