.about-section {
    -webkit-box-shadow: 5px 5px 15px 5px #999999; 
    box-shadow: 5px 5px 15px 5px #999999;
    margin-top: 50px;
    height: 400px;
    border-radius: 2rem;
}

.about-image img {
    height: 300px;
    width: 300px;
    border-radius: 200px;    
    margin-top: 50px;
    border: 5px solid rgb(39, 152, 218);
}

.about-details {
    margin-top: 50px;
}

.about-title h5{
    text-align: center;

}

.line {
    display: block;
    width: 70px;
    height: 3px;
    margin: 1px auto;
    background-color: rgb(39, 152, 218);
}