.tools-section {
    margin-top: 40px;
    height: auto;
    margin-bottom: 40px;
}

.section-title h5 {
    text-align: center;
}

.tools-content {
    padding: 10px;
    color: black;
    background-color: rgba(5, 136, 118, 0.753);
    -webkit-box-shadow: 5px 5px 15px 5px #999999; 
    box-shadow: 5px 5px 15px 5px #999999;
    margin-top: 50px;
    border-radius: 2rem;
}

/* .tools-content-marked {
    background-color: rgba(5, 136, 118, 0.753);
    color: white;
    overflow: visible;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);
} */

.tools-content p {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tools-content:hover {
    background-color: rgb(64, 152, 199);
    color: white;
    cursor: pointer;
    transition-duration: 1s;
    -webkit-box-shadow: -8px 5px 6px 5px #5E5E5E; 
    box-shadow: -8px 5px 6px 5px #5E5E5E;
}

.tools-number {
    border-radius: 90px;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
    margin-top: -30px;
    line-height: 50px;

}

.load-more-tool {
    background-color: rgb(41, 84, 223);
    width: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 5px;
    margin-bottom: 40px;
    cursor: pointer;
}

.load-more-tool:hover {
    background-color: rgb(76, 176, 216);
    transition: 1s;
}