/* * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    position: relative;
} */

.home {
    height: 400px;
    color: white;
}

.home-content {    
    padding: 10px;
    margin-top: 100px;
}

.home-content h3 {
    margin-top: 20px;
    color: rgb(114, 212, 212);    
}

.button-for-action {
    display: flex;
}

.hire-me-button {
    background-color: rgb(27, 158, 92);
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid rgb(204, 224, 224);
    font-family: fantasy;
}

.hire-me-button:hover {
    background-color: rgb(86, 196, 141);
    border: 2px solid rgb(42, 44, 44);
    width: 250px;
    color: black;
    transition-duration: 1s;
}

.download-cv-button {
    background-color: rgb(27, 110, 143);
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid rgb(204, 224, 224);
    font-family: fantasy
}

.download-cv-button:hover {
    background-color: rgb(133, 216, 231);
    border: 2px solid rgb(2, 70, 129);
    width: 250px;    
    transition-duration: 1s;
}

.download-cv-button a {
    text-decoration: none;
    color: white;
}

.download-cv-button a:hover {
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}