* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.sidebar-profile-pic img {
    border-radius: 90px;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    object-fit: cover;
    border: 3px solid lightblue;
}

.navbar-items ul li {
    color: white;
    list-style-type: none;
    cursor: pointer;
    margin-top: 30px;
}

.navbar-items ul li svg {
    margin-right: 35px;
    margin-left: 10px;
}

.navbar-items-only-icons ul li {
    margin-top: 10px;
    cursor: pointer;
    list-style-type: none;
}

.navbar-items-only-icons ul li svg {    
    margin-left: 10px;
}